<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Add new friend!</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Friend name" ng-model="newFriend.name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Description" ng-model="newFriend.description">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="addFriend()">Submit</button>
        <button class="button button-block button-assertive" ng-click="close()">Cancel</button>
      </div>
    </ion-content>
  </ion-modal-view>
