<ion-view view-title="Auth0 Ionic Quickstart" ng-controller="HomeController as vm">
  <ion-content class="padding">
    <div ng-hide="isAuthenticated">
      <p>Welcome to the Auth0 Ionic Sample! Please log in:</p>
      <button class="button button-full button-positive" ng-click="vm.login()">
        Log In
      </button>
    </div>
    <div ng-show="isAuthenticated">

      <div class="list card">

        <div class="item item-avatar">
          <img src="{{ vm.profile.picture }}">
          <h2>{{ vm.profile.name }}</h2>
        </div>

        <div class="item item-avatar item-button-right assertive" ng-repeat="identity in vm.identities">
          <img src="{{identity.profileData.picture }}">
          <h2>{{ identity.profileData.name || identity.profileData.email }}</h2>
          <button class="button button-assertive" ng-click="vm.unLinkAccount(identity)">
            <i class="icon ion-android-delete" ></i>
          </button>
        </div>

        <a class="item item-icon-left" ng-click="vm.linkAccount()">
          <i class="icon ion-link"></i> Link Account
        </a>

        <a class="item item-icon-left assertive" ng-click="vm.logout()">
          <i class="icon ion-log-out"></i> Log Out
        </a>

      </div>


    </div>
  </ion-content>
</ion-view>
