# Common Ignores
.vscode/
.DS_Store

# Bower
**/www/lib

# ionic
node_modules/
plugins/

# Platform iOS
*.mode1v3
*.perspectivev3
*.pbxuser
platforms/ios/build

# Platform Android
platforms/android/build.xml
platforms/android/local.properties
platforms/android/gradlew
platforms/android/gradlew.bat
platforms/android/gradle

# Ant builds
platforms/android/ant-build
platforms/android/ant-gen

# Eclipse builds
platforms/android/gen
platforms/android/out

# Gradle builds
platforms/android/build