<ion-view view-title="Profile">
  <ion-content class="padding">
    <div ng-if="!auth.isAuthenticated()">
      <p>Please log in to view your profile.</p>
    </div>
    <div ng-if="auth.isAuthenticated()" class="list card">
      <div class="item item-avatar">
        <img src="{{ profile.picture }}" alt="avatar">
        <h3>{{ profile.name }}</h3>
        <h4>{{ profile.nickname  }}</h4>
      </div>
      <div class="item item-body">
        <pre>{{ profile | json }}</pre>
      </div>
    </div>
  </ion-content>
</ion-view>
