/* Empty. Add your own CSS if you like */
.center{
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.card {
  max-width: 320px;
  margin: 1em auto 3em;
  border: 1px solid #d0cbca;
  background: #2196F3;
  transition: all 150ms ease-in-out;
}
.card:hover {
  background: #0960a5;
  border-color: #0960a5;
  box-shadow: 0 1px 40px rgba(0, 0, 0, 0.15);
}
.card header {
  text-align: center;
  padding: 1em;
  transition: all 150ms ease-in-out;
}
.card header h2 {
  color: white;
  margin: 0;
  line-height: 1.25;
  font-size: 15px;
}
.card header img.avatar {
  border-radius: 50%;
  height: auto;
  padding: 10px;
  max-width: 128px;
  transition: all 150ms ease-in-out;
  margin-bottom: -50px;
}
.card header img.avatar:hover {
  border-radius: 10%;
  padding: 10px;
}
.card header.header_hover {
  background: #0960a5;
}
.card header.header_hover img.avatar {
  background: #0960a5;
}
.card.card_hover {
  border-color: #0960a5;
}

.card footer {
  padding-top: 3em;
}
article, footer {
  background: #fff;
  padding: 1em;
}

article + footer {
  padding-top: 0;
}

footer.closure {
  text-align: center;
  font-size: 12px;
  color: #868686;
}