import { isPlatform } from "@ionic/angular";
import config from "../../capacitor.config";

const auth0Domain = "{DOMAIN}";
export const clientId = "{CLIENT_ID}";
const { appId } = config;
export const domain = auth0Domain;

export const callbackUri = isPlatform("desktop")
  ? "http://localhost:4200"
  : `${appId}://${auth0Domain}/capacitor/${appId}/callback`;
