<ion-view view-title="Auth0 Ionic Quickstart" ng-controller="HomeController as vm">
  <ion-content class="padding">
    <div ng-hide="vm.auth.isAuthenticated">
      <p>Welcome to the Auth0 Ionic Sample! Please log in:</p>
      <button class="button button-full button-positive" ng-click="vm.login()">
        Log In
      </button>
    </div>
    <div ng-show="vm.auth.isAuthenticated">
      <p>Thank you for logging in!</p>
      <button class="button button-full button-dark" ng-click="vm.logout()">
        Log Out
      </button>
    </div>
  </ion-content>
</ion-view>
